[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11
[submodule "src/model/tiny-dnn"]
	path = src/model/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
